[2017-05-07 21:40] mbohlool opened #5 "Dockerize generators"
Generators are using `maven` right now. Dockerize them to have a more consistent way of generating clients across platforms.

[2017-08-02 22:29] ceridwen opened #19 "preprocess_spec.py generates invalid Swagger json"
When I tried to use https://github.com/Trax-air/swagger-parser on the json generated by calling `preprocess_spec.py release-1.6 kubernetes.json`, it complained that the json was invalid:

[code]

I double-checked this with https://hub.docker.com/r/swaggerapi/swagger-validator/, which suggests that it is invalid.  swagger-codegen still accepts it so apparently swagger-codegen's validation isn't as

[2017-08-02 23:31] ceridwen commented on #19
Further investigation shows that the problem comes from adding the custom objects, because with that removed, the modified spec validates.

[2017-08-03 00:46] ceridwen commented on #19
Running `swagger-codegen validate` gives a more informative error:

[code]

I tried adding the description fields with placeholders and that seemed to work.

[2017-08-08 03:24] mbohlool commented on #5
This is my suggestion for build-gen-contianer.sh for a specific language:

1- Read pom file of that language and extract swagger-codegen version from it.
2- If it is not a final release (has - in it), parse it and extract commit hash from it. (if it said SNAPSHOT then head would be the commit hash). Examples are 2.3.0, 2.4.0-SNAPSHOT, 2.3.4-f9d44a838b26f537ea65fd36b5eeb6d07fb5d39f)
3- Build a cont

[2017-08-10 10:51] mbohlool commented on #19
Thanks for reporting. Can you add a relevant description and send a PR for it? Otherwise let me know and I will do it.

[2017-08-11 03:32] #5 closed

[2017-08-14 17:30] ceridwen commented on #19
I'm not sure what role these two paths play in the Python client, otherwise I would.  If you can tell me what they do, I can try to write descriptions for them.

[2017-10-03 07:43] #19 closed

[2017-11-14 06:35] brendandburns opened #31 "Extend proto generation to other APIs"
Ref: https://github.com/kubernetes-client/java/issues/113

[2017-11-14 06:36] brendandburns opened #32 "Consider including proto files in language repositories..."
Ref: https://github.com/kubernetes-client/java/issues/112

[2017-11-14 14:49] cliveseldon commented on #31
The repo https://github.com/kubernetes/api has many generated.proto files not included in the dependencies.sh script.
Which ones should be added?

[code]

[2017-11-14 15:37] brendandburns commented on #31
Feel free to add then all :)

--brendan

________________________________
From: cliveseldon <notifications@github.com>
Sent: Tuesday, November 14, 2017 6:49:13 AM
To: kubernetes-client/gen
Cc: Brendan Burns; Author
Subject: Re: [kubernetes-client/gen] Extend proto generation to other APIs (#31)

The repo https://github.com/kubernetes/api<https://na01.safelinks.protection.outlook.com/?url=https%3A%

[2018-01-24 01:54] charly37 opened #48 "Failure for centos"
Hi,

I had an issue when trying to run the script:

[code]

it took me some time to understand why....
It seems due to SELinux that prevent to write on the output directory used inside the container (the one we give in the docker run .... -v)

If I deactivate SE linux with
setenforce 0
then it works 100% fine.

Otherwise changing the mount option in the call to docker run in client-generator.sh fr

[2018-01-31 10:07] mbohlool opened #52 "Required arrays with null value"
Looks like there is a problem with 1.8 spec going forward [TODO:ref issue] that an array that marked as required can be null. Assuming an empty array is an acceptable array in these situation (and it look like it is as kubernetes return empty array in some of those cases, TODO: add ref issues) we should consider fixing it in the main repo (TODO: create an issue) and also here as a quick fix until

[2018-02-27 18:17] mbohlool opened #54 "Add versioning and changelog to gen package"
As all of our clients depends on this repo and we occasionally add features that affect all languages, we should:

- Version this repo
- have a changelog
- document the gen release in the generated code (the same way we document kubernetes and swagger codegen hash keys)

[2018-03-12 17:56] lainekendall commented on #54
+1

[2018-03-26 22:47] roycaihw commented on #52
Gathering known required API fields with this problem:

- `io.k8s.apimachinery.pkg.apis.meta.v1.APIVersions` requires `serverAddressByClientCIDRs` (https://github.com/kubernetes-client/python/issues/418, https://github.com/kubernetes-client/python/issues/394, https://github.com/kubernetes-client/python/issues/464)
   - `serverAddressByClientCIDRs` is required by server may return `null` as a valid

[2018-03-27 01:09] ceridwen commented on #52
There are a number of API fields with this problem.  From watching the issues in the two repositories in question, I have the following list.  (This is just straight links, I don't have time right now to make the formatting pretty.)

## Kubernetes

https://github.com/kubernetes-client/python/issues/491
https://github.com/kubernetes-client/python/issues/484
https://github.com/kubernetes-client/pyth

[2018-04-09 16:38] tamalsaha opened #59 "Support client generation for CRD"
Following @mbohlool 's advice https://github.com/kubernetes/kube-openapi/issues/13#issuecomment-337719430, I have managed to generate swagger.json for my CRD. In the spirit of not reinventing the wheel, I was hoping to generate Java client using this repo. But I noticed that the swagger.json file is hardcoded to Kubernetes repos swagger.json https://github.com/kubernetes-client/gen/blob/master/ope

[2018-04-09 16:44] tamalsaha commented on #59
cc: @brendanburns

[2018-04-09 17:14] tamalsaha commented on #59
I tried using the swagger-generator directly who produced something https://github.com/tamalsaha/kube-openapi-generator . I am not sure whether I should be generating types shared from Kubernetes types and also how should auth work.

[2018-04-15 10:16] tamalsaha commented on #59
I did some experimentation with the Java client generator for our [Voyager](https://github.com/appscode/voyager) project and was able to generate client. The generated client uses the models from Kubernetes java-client. One limitation is that there is no util.Config so instatiating client is kind of awkward.

Here are the relevant repos:
- [voyager-client/gen](https://github.com/voyager-client/gen

[2018-05-08 15:33] smiller171 commented on #52
Looking at related issues (specifically #394) This has been an issue since at least November.

Is there any word on a fix or a workaround? As someone new to Kubernetes and even newer to the Python client, I have absolutely no idea how to move past this and make my application work.

[2018-05-17 19:41] StephanX commented on #52
@smiller171 For good or ill, I've managed to work around this in my kubernetes-python module by commenting out the subject enforcement check at 184 & 185 of my /usr/local/lib/python3.6/site-packages/kubernetes/client/models/v1beta1_cluster_role_binding.py file (the content being:
[code]

[2018-05-24 14:43] jessfraz opened #61 "Create a SECURITY_CONTACTS file."
As per the email sent to kubernetes-dev[1], please create a SECURITY_CONTACTS
file.

The template for the file can be found in the kubernetes-template repository[2].
A description for the file is in the steering-committee docs[3], you might need
to search that page for "Security Contacts".

Please feel free to ping me on the PR when you make it, otherwise I will see when
you close this issue. :)

[2018-06-12 23:04] roycaihw commented on #52
Sent a fix for `Conditions` in `CustomResourceDefinitionStatus` https://github.com/kubernetes/kubernetes/pull/64996

[2018-06-22 21:47] lavalamp commented on #52
Given that apiserver ignores the rule today, everything just works better if we adjust the specs to mark these fields as optional, no?

[2018-06-22 21:47] lavalamp commented on #52
Also, see https://github.com/kubernetes/kube-openapi/issues/87

[2018-06-23 23:50] wstrange opened #64 "Protobuf generation broken?"
Trying to generate Java protobuf isn't working for me. I used the version of protoc in the install.sh script.

Running generate.sh java /tmp/java

I get:

[code]

[2018-06-25 14:33] brendandburns commented on #64
I'll try to repro this...

[2018-06-26 11:27] tg123 opened #65 "C# failed after PR #57"
PR #57

ping @aogier

bug1
`umask 0`
which will cause `/usr/local/bin/mvn-entrypoint.sh: line 39: /generate_client.sh: Permission denied`

bug2
need root to install autorest

[code]

[2018-06-26 23:22] aogier commented on #65
ciao @tg123, thx for your insightful bug report I'll take a look tomorrow morning ... is there any chance I can get your help ? Unless problem is trivial (hopefully it is) I'll need some help in c# area ... thanks and see you later !

[2018-06-27 05:14] tg123 commented on #65
update
still not sure why this happen seems has nothing to do with this change

<del>
bug1
umask 0
which will cause /usr/local/bin/mvn-entrypoint.sh: line 39: /generate_client.sh: Permission denied
</del>

[2018-06-29 20:23] brendandburns commented on #65
@tg123 this was also hit by @tamalsaha and the fix is merged here:

https://github.com/kubernetes-client/gen/pull/62

[2018-06-29 20:23] brendandburns commented on #65
(the fix for the umask thing anyway...)

[2018-07-17 18:00] juliantaylor opened #71 "missing support for custom object status/scale api"
since kubernetes 1.11 the custom object status/scale api is in beta:
https://kubernetes.io/docs/tasks/access-kubernetes-api/custom-resources/custom-resource-definitions/#status-subresource

But the generator does not support it as it is missing in `openapi/custom_objects_spec.json`
If this is not intentional due to the beta status of the api it would be very helpful to have this added so clients c

[2018-07-19 20:35] jessfraz commented on #61
this was done so closing

[2018-07-19 20:35] #61 closed

[2018-07-28 05:49] brendandburns commented on #71
This isnt intentional. We should fix, would love a pr...

[2018-07-28 06:02] juliantaylor commented on #71
I'd love to but I can't find any documentation how this file is generated.

[2018-07-28 13:58] brendandburns commented on #71
You just need to edit that JSON Swagger file to have the new object, then everything "just works" when you regenerate...

See the code here:
https://github.com/kubernetes-client/gen/blob/7d7ec1cfee81d05bd3d23715eb36d831a5eee4fe/openapi/preprocess_spec.py#L33

https://github.com/kubernetes-client/gen/blob/7d7ec1cfee81d05bd3d23715eb36d831a5eee4fe/openapi/preprocess_spec.py#L105

[2018-07-29 09:32] juliantaylor commented on #71
yeah sure, but do you manually write that swagger file? It looks generated.

[2018-08-01 01:14] mbohlool commented on #71
This is the file: https://github.com/kubernetes-client/gen/blob/master/openapi/custom_objects_spec.json

It is not auto-generated. The code Brendan referenced is where this spec get merged with the main spec (that one is generated). You can edit that file and add /scale and /status endpoints.

[2018-08-01 15:43] juliantaylor commented on #71
yes thanks, I have already created a PR with the additions

[2018-08-01 22:48] #71 closed

[2018-08-03 20:36] #64 closed

[2018-08-04 03:25] spiffxp opened #76 "Create an OWNERS file"
ref: https://github.com/kubernetes/community/issues/1721

This repo is listed in sigs.yaml as belonging to sig-api-machinery, but it lacks an OWNERS file.  Can you please add one with the appropriate list of approvers and reviewers? eg:
- [robust example: approvers, reviewers, aliases](https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/blob/master/OWNERS)
- [simple example: only appro

[2018-08-21 18:16] #76 closed

[2018-09-26 12:51] mydockergit commented on #52
@roycaihw  you can check `v1beta1.CustomResourceDefinitionStatus requires conditions (kubernetes-client/python#447)` because it is closed already.

[2018-09-27 00:58] roycaihw commented on #52
@mydockergit The field is still marked as [required](https://github.com/kubernetes/kubernetes/blob/245f360a45e8ad3e241593b099973cf3ce213371/staging/src/k8s.io/apiextensions-apiserver/pkg/apis/apiextensions/v1beta1/types.go#L172-L173), as openapi spec shows:

[code]

I think kubernetes-client/python#447 was closed because we want to fix the API upstream

[2018-10-15 23:11] roycaihw opened #82 "Allow client generation against certain specific Kubernetes patch release"
Ref: https://github.com/kubernetes-client/python/pull/631#discussion_r221404512

Currently the generator only requires specifying a Kubernetes branch to get OpenAPI spec from, e.g. [spec on release-1.12 branch](https://github.com/kubernetes/kubernetes/blob/release-1.12/api/openapi-spec/swagger.json). The generated client can be non-deterministic when there are some openapi changes cherry-picked in

[2018-10-19 17:47] roycaihw commented on #82
While picking up HEAD in the release branch does give us the most-updated version of Kubernetes API, doing so makes the release process for generated clients confusing sometimes.

In fact, the HEAD in the release branch gives us a prophetic but not yet released version of Kubernetes API. For example:

1. Kubernetes 1.12.1 release was cut
2. The k8s release team/tooling updated the HEAD in the rele

[2018-10-26 19:31] marie-yau opened #83 "kubernetes-client/gen/openapi/python.sh - 'no such file or directory' exec error"
An error occurred when executing kubernetes-client/gen/openapi/python.sh

Following the instructions under the “Generating a client”
( https://github.com/kubernetes-client/gen ):

${CLIENT_LANGUAGE}.sh OUTPUT_DIR SETTING_FILE

Below is an example run:

/root/kubernetes/gen/openapi/python.sh /root/output_client/kubernetes /root/kubernetes/python/settings

The /root/kubernetes/python/settings files

[2018-10-26 20:20] tomplus commented on #83
Your settings file should have ` export PACKAGE_NAME="client"`, because the generated code lands as the sub-directory `/client` within the package: https://github.com/kubernetes-client/python/tree/master/kubernetes/client

BTW, if you need to regenerate client you can use the script https://github.com/kubernetes-client/python/blob/master/scripts/update-client.sh which does the job.

[2018-10-26 21:48] marie-yau opened #85 "Improve kubernetes-client/gen documentation for {CLIENT_LANGUAGE}.sh"
It's not clear that the PACKAGE_NAME in the settings files for python.sh (or any language).sh file needs to be specified as "client".  Providing an example of the settings file for python-client, python.sh:

Example settings file for python.sh:

export KUBERNETES_BRANCH="master" 
export CLIENT_VERSION="8.0.0b1"
export PACKAGE_NAME="client"

Note: For generating the client for any language, the PAC

[2018-11-04 19:16] davidxia opened #89 "client-generator.sh fails when running docker container as current user"
`openapi/client-generator.sh`'s final [`docker run`](https://github.com/kubernetes-client/gen/blob/cbea33eac4a1646730ffcf13e888e8380a2ea76f/openapi/client-generator.sh#L75-L86) command fails for me.

### repro steps

1. Clone [kubernetes-client/gen](https://github.com/kubernetes-client/gen) and [kubernetes-client/java](https://github.com/kubernetes-client/java).

[code]

2. Add `set -ex` to the to

[2018-11-07 05:43] brendandburns commented on #89
I'll look into this. The goal behind that PR was to avoid writing things as root to the host filesystem.

Is this your first time generating? Is it possible that your `.m2` maven directory isn't owned by your user?

[2018-11-07 14:16] davidxia commented on #89
Thanks. This is my first time generating. My .m2 is owned by my user.
--
David Xia
davidxia.com

[2018-11-08 05:44] brendandburns commented on #89
Thanks for the info, I will try to repro...

[2018-11-20 18:16] agassner commented on #52
Any luck with this?

[2018-12-15 23:46] tomplus opened #93 "migrate from swagger-codegen to openapi-generator"
This repo uses the swagger-codegen, which is not actively maintained, at least from a my point of view. It makes lots of hacks like post-generation patching and it’s very hard to maintain these scripts.

For instance - here is a list of PRs which are ready to merge but are not merged yet and had to be applied as patches in Python generator:

- https://github.com/swagger-api/swagger-codegen/pull/79

[2018-12-16 19:17] brendandburns commented on #93
Yes we should do this. If you have cycles for the PR that's awesome. Otherwise I'll try to get to it.

[2019-01-22 07:49] mbohlool commented on #93
There is a document for the migration: https://github.com/OpenAPITools/openapi-generator/blob/master/docs/migration-from-swagger-codegen.md

[2019-01-22 07:54] mbohlool commented on #93
@tomplus Thanks for doing this. Please make sure at least supported client such as [python](https://github.com/kubernetes-client/python) or [java](https://github.com/kubernetes-client/java) would create identical client before switching to openapi-gen. There are documents (e.g. [this](https://github.com/kubernetes-client/python/blob/master/devel/release.md)) that may need to be updated to access t

[2019-01-22 22:46] tomplus commented on #93
@mbohlool Thanks for your advice. I'll check these clients and update docs too.

Some changes in generated code will appear because clients are based on very old version of generator - java client: https://github.com/kubernetes-client/gen/blob/d0821e65aa3474ce69b6bd64219d9c2082c391b7/openapi/java.sh#L52 committed on Aug 9, 2017

python: https://github.com/kubernetes-client/gen/blob/d0821e65aa3474c

[2019-01-26 05:37] brendandburns commented on #93
I tried the Java generator. It seems to fail on the `type-mappings` directive. I'm working with the maintainers of `openapi-generator` to see if there's a fix.

@tomplus, I will own this for Java and Typescript.

Thanks!

[2019-01-26 15:50] tomplus commented on #93
@brendandburns Thanks :+1: I'm working on the Python client.

[2019-01-31 14:28] cliveseldon opened #99 "v2beta2 HorizontalPodAutoscalerSpec missing from proto generate.sh"
https://github.com/kubernetes-client/gen/blob/master/proto/generate.sh is missing HorizontalPodAutoscalerSpec v2beta2.

Is there a reason for this?

Happy to do a small PR to fix this.

[2019-02-04 04:45] #99 closed

[2019-02-17 07:18] ackintosh commented on #93
I started working on [the Ruby client](https://github.com/kubernetes-client/ruby). 💨

[2019-03-05 05:56] Sai-Adarsh commented on #85
Still open @marie-yau , shall I work?

[2019-03-05 06:54] marie-yau commented on #85
Hi, you can work on it.

[2019-03-05 17:16] Sai-Adarsh commented on #85
## Settings to add PACKAGE_NAME for {CLIENT_LANGUAGE}.sh
 For generating the client for any language, the PACKAGE_NAME should be "client", along with the latest CLIENT_VERSION.
### Python-Client
* Add these to python.sh
[code]

### C Sharp
* Add these to csharp.sh
[code]

### Go
* Add these to go.sh
[code]

### Haskell
* Add these to haskell.sh
[code]

### Java
* Add these to java.sh
[code]

### J

[2019-03-05 17:18] Sai-Adarsh commented on #85
@marie-yau is this fine. Also CLIENT_VERSION isn't provided in some client-language repos

[2019-03-05 19:36] Sai-Adarsh commented on #85
@marie-yau  is this fine? I'll add this to the doc.

[2019-03-05 19:42] Sai-Adarsh commented on #85
/assign roycaihw

[2019-03-05 19:43] Sai-Adarsh commented on #85
/assign marie-yau

[2019-03-05 19:48] Sai-Adarsh commented on #85
My branch: https://github.com/Sai-Adarsh/gen

[2019-03-10 08:04] Sai-Adarsh commented on #85
@marie-yau could you review the PR?

[2019-03-11 04:49] ackintosh commented on #93
memo: the haskell client has been switched. https://github.com/kubernetes-client/gen/pull/108

[2019-03-12 22:10] roycaihw commented on #85
it looks like the documentation improvement has been merged in https://github.com/kubernetes-client/gen/pull/86. @marie-yau Is there any change that need to be made?

[2019-03-13 05:30] Sai-Adarsh commented on #85
It's an example of settings file for python-client. I guess the task is to write similar documentation for all language clients?

[2019-03-13 22:38] roycaihw commented on #85
@Sai-Adarsh the pattern is similar for different languages and there seems to be no language-specific setting (as https://github.com/kubernetes-client/gen/issues/85#issuecomment-469769546 shows). I suppose mentioning ["similarly for other language clients"](https://github.com/kubernetes-client/gen/pull/86/files#diff-04c6e90faac2675aa89e2176d2eec7d8R36) is sufficient?

[2019-03-17 00:46] ackintosh commented on #93
UPDATE: the Ruby client generator has been switched to openapi-generator.  https://github.com/kubernetes-client/gen/pull/103

[2019-04-02 05:48] ikflc commented on #52
Hi There, I am running python 3.7.2 and hit the same problem trying to deploy sql aag onto AKS, by running "python ./deploy-ag.py ...".
←[31m[ERROR] ←[0mCaught exception: Invalid value for `conditions`, must not be `None`
←[31m[ERROR] ←[0m<bound method ApiextensionsV1beta1Api.list_custom_resource_definition of <kubernetes.client.apis.apiextensions_v1beta1_api.ApiextensionsV1beta1Api object at 0x04

[2019-04-20 17:33] NKUCodingCat commented on #52
It seems caused by openapi issue
Maybe I can monkey patch it in my code but it is too tricky in product environment
Is there any other way to work around it ?

[2019-04-22 16:53] lavalamp commented on #52
@roycaihw looks like some of your fix PRs didn't get enough attention, maybe you can revisit them?

[2019-04-28 10:03] zhangmingld commented on #52
@kubernetes/sig-api-machinery-bugs, we have the same problem
Can anyone help to look at this ?

[2019-04-30 04:47] 007 commented on #93
@tomplus any update on the Python client?

I'm waiting on https://github.com/swagger-api/swagger-codegen/pull/8061 to get https://github.com/kubernetes-client/python/issues/411 resolved. It seems you made some progress on that, I haven't had a chance to update and test my broken code to see if the workaround fixes the hang.

[2019-04-30 23:13] tomplus commented on #93
@007 The PR (#97) is ready to review, I hope it will be merged soon.

[2019-05-13 04:21] irvifa opened #114 "Got Max retries exceeded with url: /kubernetes/kubernetes/release-1.14/api/openapi-spec/swagger.json"
I got the following error:

[code]

When trying to generate API for `release-1.14`. This is the details of my OS:
[code]

[2019-05-13 19:26] DarshanMurthy commented on #114
@irvifa I am stuck with this issues too..

[2019-05-14 14:42] irvifa commented on #114
/cc @yue9944882 since you performed https://github.com/kubernetes-client/java/pull/567 I wonder if there's a workaround

[2019-05-14 15:26] yue9944882 commented on #114
i sent the change in the generator scripts #115. before this, i thought it's a regional issue. @irvifa can you verify if the change resolve the problem?

[2019-05-14 15:35] irvifa commented on #114
@yue9944882 hmm still got the same error

[2019-05-14 15:42] yue9944882 commented on #114
/cc @roycaihw

kindly ping for help from python gang

[2019-05-14 15:54] irvifa commented on #114
This is the additional error I got:
[code]

seems like: `https://packages.microsoft.com/debian/9/prod/pool/main/d/dotnet-host/dotnet-host-2.2.5-x64.deb` doesn't exist anymore

[2019-05-17 10:20] irvifa opened #116 "Sed command is not compatible for OSX in kubernetes-client/gen/openapi/haskell.sh"
This is related to https://stackoverflow.com/questions/4247068/sed-command-with-i-option-failing-on-mac-but-works-on-linux where OSX don't support `-i` flag in the script, I think there can be 2 different approach:

1. First improve the docs so that those who wants to use the script aware that we are using sed to override the value on the `cabal` file.
2. Give and additional if else condition for

[2019-05-17 23:00] roycaihw commented on #114
I think it's from a change in [urllib3 1.25 (2019-04-22)](https://pypi.org/project/urllib3/): `Require and validate certificates by default when using HTTPS`. Before that we were just emitting `InsecureRequestWarning`

short term fix can be either [pinging](https://github.com/kubernetes-client/gen/blob/master/openapi/openapi-generator/Dockerfile#L21) `pip install urllib3==1.24.2` or using `CERT_NO

[2019-05-20 11:59] prksu commented on #116
This has been notified in kubernetes contributors devel https://github.com/kubernetes/community/blob/master/contributors/devel/development.md#building-kubernetes-on-a-local-osshell-environment

since the contributing guide in this repo also refered to [Kubernetes contributor guide](https://github.com/kubernetes/community/blob/master/contributors/guide/README.md) so I don't think it needs to be add

[2019-05-23 14:42] #114 closed

[2019-05-23 15:13] irvifa commented on #116
Thanks i'll closing this issue then. I missed the details about it.

[2019-05-23 15:13] #116 closed

[2019-06-21 03:18] #32 closed

[2019-06-21 03:18] #31 closed

[2019-06-22 08:47] #59 closed

[2019-06-25 09:58] #82 closed

[2019-06-25 14:02] #83 closed

[2019-06-25 21:10] #89 closed

[2019-06-27 09:00] yue9944882 opened #121 "Support ad-hoc client generation for CRDs"
as 1.15's out, users can publish their own openapi spec w/ CRD integration. we should probably refactor the scripts to support ad-hoc client generations.

/cc @brendandburns @roycaihw

[2019-07-30 07:37] tomplus commented on #93
/remove-lifecycle stale

[2019-07-30 20:05] roycaihw commented on #52
/remove-lifecycle stale
/lifecycle frozen

[2019-08-11 00:10] #85 closed

[2019-10-04 21:39] roycaihw opened #131 "custom_objects_spec misses deletecollection operations"
[The custom object openapi spec](https://github.com/kubernetes-client/gen/blob/master/openapi/custom_objects_spec.json) misses deletecollection operations for cluster-scoped and namespaced custom objects. These operations are supported in apiserver. We should add them to the spec and regenerate the clients.

cc @scottilee

[2019-10-17 02:51] ityuhui opened #132 "Does gen support C/C++ ?"
Hi, all
I have not found any generator for C/C++.  Does gen support these two programming lauguages ?
Thanks.

[2019-10-18 03:42] ityuhui commented on #132
I made below steps and generated C code.

1.
[code]

2. Update the 2 files by changing the text "go" to "c"

3.  Follow the readme to generate

Can I make a PR to this repo ?

[2019-10-18 03:52] yue9944882 commented on #132
iiuc, creating new language support in this org needs at least two maintainer's sponsorship..

@brendandburns

[2019-10-18 10:16] tomplus commented on #132
It pops up sometimes... https://groups.google.com/forum/#!topic/kubernetes-dev/IUo8rdUQ2o8 It's not difficult to generate the library but more important is to have community which uses it and gives feedback.

[2019-10-18 19:36] brendandburns commented on #132
@ityuhui I'm supportive of such a PR, I'd be happy to co-own a C/C++ client library.

Please send the PR, and I'll work to get the repo created.

[2019-10-19 11:19] ityuhui commented on #132
Hi @brendandburns
I'm pleased to send this PR to support C. But after I got the C client code generated by gen. It cannot be compiled successully. Lots of build errors need to be handled by manul.
e.g.
1. object.h is lost
2. some filed name is C language keywork, e.g.  enum, continue
3. some filed name including "-" are not accpeted by C compiler.   e.g.  int x-b-c
...
I think this is the defect o

[2019-10-21 04:25] brendandburns commented on #132
No, we should make sure it's working code... Have you tried the C++ generator?

[2019-10-21 08:25] ityuhui commented on #132
@brendandburns

No.  I have not.  I need a pure C client library now because my program is written by pure C.
But I can try C++ ( cpprestsdk ) generator some time later and append the results here.

[2019-10-22 04:11] brendandburns commented on #132
It's up to you, you can also work with the openapi folks to make the generator more useful. I've found they're very responsive to pull requests...

[2019-10-24 16:29] palnabarun opened #133 "Python generator is auto-generating wrong links in README"
There are some links that are being wrongly generated in the README, specifically the link to install the `kubernetes` python client package using the git link.

Generated link: `pip install git+https://github.com/kubernetes-kubernetes.client/python.git`
Expected link: `pip install git+https://github.com/kubernetes-client/python.git`

References:
- https://github.com/kubernetes-client/python/pull/

[2019-10-24 16:30] palnabarun commented on #133
/assign

[2019-10-24 16:30] palnabarun commented on #133
/kind bug

[2019-10-24 17:08] palnabarun commented on #133
/cc @roycaihw

[2019-11-04 11:20] zoidbergwill commented on #121
Would love to see this done. I'd be happy to help if I can.

[2019-11-04 11:20] zoidbergwill commented on #121
Generating clients for CRDs would be amazing

[2019-11-06 21:52] kierenj commented on #52
Am I running into this here, or shall I raise a separate issue? Code straight from one of the examples:

[code]

[code]

[2019-11-07 19:13] #133 closed

[2019-11-08 14:42] tomplus commented on #93
/remove-lifecycle stale

[2019-11-13 12:59] b1zzu opened #135 "Update openapi-generator for typescript to v4.1.3"
With the 4.1.3 version of oepnapi-generator they have fixed a major issue https://github.com/OpenAPITools/openapi-generator/issues/3872 that was a main painful point in debugging errors. I would like to see this fix integrated into the `@kubernetes/client-node` library, but I saw that we first need to update the openapi-generator version in this project.
https://github.com/kubernetes-client/gen/bl

[2019-11-13 13:04] b1zzu commented on #135
I saw that the kuebernetes-client/javascript repo is overwriting this variable so probably there is no need to update it also here

[2019-11-16 01:07] brendandburns commented on #135
ok, I'm going to close this here then.

Thanks!

[2019-11-16 01:07] #135 closed

[2019-11-16 16:45] brendandburns commented on #93
@tomplus we just switched the Java generator. At this point I think everyone is on openapi?

Can we close this issue?

[2019-11-16 22:27] tomplus commented on #93
@brendandburns  Wow! Great news. I did some checks and it looks like csharp client still uses the old generator. Javascript client also but it likely doesn't use this repo to generate (I suggest to remove its script to avoid confusion). Python-asyncio needs some cleanups, one unused variant uses swagger - I'll remove it.

Should we remove swagger-codegen directories and files when all generators h

[2019-11-19 19:01] brendandburns commented on #93
csharp uses autorest, which is a totally different generator.

Javascript can be removed as we're using typescript.

I'll send PRs to do the cleanup.

[2019-11-27 05:25] #93 closed

[2019-12-09 13:52] zoidbergwill commented on #121
/reopen ?

[2019-12-09 13:54] zoidbergwill commented on #121
I think this would be a useful feature.

I recently went down this route, of trying to get this working, and it was painful and required some manual work too: https://github.com/bookingcom/shipper/pull/243

[2019-12-09 14:12] yue9944882 commented on #121
/reopen

[2019-12-09 14:16] yue9944882 commented on #121
@zoidbergwill we had an experimental CRD model generator for java (just generating model would be sufficient b/c we have custom-object api to be the general client) https://github.com/kubernetes-client/java/blob/master/docs/generate-model-from-third-party-resources.md. it will require kubernetes v1.15+ tho. it works for us in production..

[2019-12-09 14:16] yue9944882 commented on #121
/lifecycle active

[2019-12-10 02:21] aespinosa commented on #121
@yue9944882 @zoidbergwill we had success using https://github.com/kubernetes-client/gen/ for our case.  we grabbed `swagger.json.unprocessed` (via 1.15+) and post-processed the spec by hand through gron.

[2020-01-22 08:30] ityuhui commented on #132
/remove-lifecycle stale

[2020-01-22 08:32] ityuhui commented on #132
I'm working with OpenAPI-generator team now and will provide a C-libcurl client for kubernetes some times later.

[2020-01-31 00:47] brendandburns commented on #132
Cool, looking forward to it!

[2020-02-06 23:55] tomplus opened #143 "unversioned kubernetes spec"
Hi.

This change kubernetes/kubernetes#84654 removed a name of version from swagger.json, which may appear in generated code. For example the Python Client is affected. Now we'll get 'OpenAPI spec version: unversioned' in each file if code is generated by openapi-generator from release branches.

To make it work again we have to switch to use git tags to fetch spec and update version info.

[code]

[2020-02-08 23:43] tomplus opened #145 "preprocesing swagger.json makes operationId duplicated"
The script `preprocess_spec.py` removes "tags" from `operationId` downloaded from K8s spec:

https://github.com/kubernetes-client/gen/blob/09f7470cab46c32e2e3458e6c98161829db88c44/openapi/preprocess_spec.py#L102

and it makes that some operationId's become duplicated but they should be unique.

The latest version of openapi-generator (>4.x) has additional validations which complains about that:

[

[2020-02-09 00:45] tomplus commented on #145
It looks like this behavior is crucial. OperationId is used to build method name and we have the same name in different API versions (beta, alfa etc).

[2020-02-09 21:19] #143 closed

[2020-02-12 00:28] roycaihw commented on #145
Have you tried removing the replacing step?

Yes, that's what I though it does. Without the replacing step we would have the API versions in the method names, which would be a breaking change and a more verbose UX.

Having the same method name in different API versions worked for us. Is there any reason that openapi-generator enforces unique operationID across all modules?

[2020-02-12 00:37] tomplus commented on #145
It's required by the OpenAPI spec: https://swagger.io/specification/#operationObject

[2020-02-12 00:50] roycaihw commented on #145
Fair enough. I think keeping the old method names is a better UX and is also backwards compatible. In the meantime, I'm not sure what signals does the openapi-generator spec validation give us. If it adds value on top of the other testing we have (e.g. client e2e tests), we may consider doing things like

1. dry-run the validation before preprocessing, and then disable validation for the processed

[2020-02-28 07:36] ityuhui commented on #132
Hi @brendandburns

I have created the c language generator (c.sh, c.xml).  The c client library for kubernetes can be generated successfully.

And I have fixed all blocking issues in OpenAPI-Generator and now the c client can work well. ( e.g.  created a pod in kubernetes cluster )

May I create a PR to sumbit c.sh and c.xml ?

[2020-03-06 02:31] ityuhui commented on #132
Hi @brendandburns

May I create a PR to submit c.sh and c.xml or do I need do something else first ?

[2020-03-09 21:38] brendandburns commented on #132
Yep, that's all you need to do. Please send a PR.

Apologies for the delay in responding!

[2020-03-10 05:37] scottilee commented on #131
/assign

[2020-03-10 06:19] ityuhui commented on #132
Thank you @brendandburns !

I have sent the PR #148

[2020-03-10 07:07] scottilee commented on #131
@roycaihw where could I find the json content to use, particularly for "parameters"?

[2020-03-10 23:33] roycaihw commented on #131
@scottilee You can find examples in https://github.com/kubernetes/kubernetes/blob/master/api/openapi-spec/swagger.json. Look for delete operations defined under paths like:
[code]

[2020-03-12 02:26] ityuhui commented on #132
Hello @yue9944882 @tomplus

For creating a new repo "kubernetes-client/c" (https://github.com/kubernetes/org/issues/1700),  I'm required to apply for the org membership to @kubernetes-client.

Could you please sponsor/approve me when I create a request? Thank you!

[2020-03-12 17:11] brendandburns commented on #132
@ityuhui I will sponsor you for org membership.

[2020-03-13 02:18] ityuhui commented on #132
Thank you @brendandburns !

[2020-03-13 20:25] palnabarun commented on #132
This is very interesting.

Thank you @ityuhui for adding in the generator.

Let me know if you would need any help navigating the client ecosystem.

PS: I am helping in the maintenance of the Python client.

[2020-03-14 00:57] ityuhui commented on #132
Thank you @palnabarun ！
It's very kind of you that give me the help.
According to [community membership guidelines](https://github.com/kubernetes/community/blob/master/community-membership.md#requirements), I need 2 sponsors to join the  @kubernetes-client. Could you please sponsor me in addition to @brendandburns ?

[2020-03-17 21:08] palnabarun commented on #132
@ityuhui Sorry I saw this message late. Unfortunately, since I am not an approver/reviewer I couldn't have sponsored your membership.

However, I see that you have joined the organization already. Welcome! :fireworks:

[2020-03-17 22:51] zoidbergwill commented on #121
I had some luck in December, but it was pretty painful. I also ended up doing a bunch of copypasta by hand.

Most of it is documented in https://github.com/bookingcom/shipper/pull/243

[2020-03-18 01:34] ityuhui commented on #132
Thank you @palnabarun. I believe I will certainly ask your help in the client library ecosystem in future.

[2020-03-18 01:50] ityuhui commented on #132
Hi all

Thank you for your great help ( especially @brendandburns  ).  Now kubernetes-client/gen has a c generator and the c client https://github.com/kubernetes-client/c is working in progress now.

I think I can close this issue now.

RP/issue/code review/help to the c client is greatly appreciated. Thank you in advance.

[2020-03-18 01:50] #132 closed

[2020-03-24 02:26] #131 closed

[2020-03-24 15:49] dweineha commented on #52
I get similar results when calling list_api_service():
ValueError: Invalid value for `service`, must not be `None`

However, service is None whenever a service is Local (which is most of them).

And when calling list_controller_revision_for_all_namespaces():
ValueError: Invalid value for `raw`, must not be `None`

RuntimeRawExtension is explicitly listed as [optional] in the documentation for V1Co

[2020-04-13 18:34] palnabarun commented on #131
/remove-lifecycle frozen

[2020-04-13 22:09] roycaihw opened #152 "OperationID duplication in custom object openapi spec"
[Custom object openapi spec](https://github.com/kubernetes-client/gen/blob/master/openapi/custom_objects_spec.json) has duplicated operationId for delete and deletecollection operations, which causes the client generation to append `_0` to dedup https://github.com/tomplus/kubernetes_asyncio/pull/99#discussion_r401152365. The operationId should be `deleteCollection...` for deletecollection operatio

[2020-04-27 16:23] palnabarun commented on #152
/assign

[2020-05-03 04:41] brendandburns opened #156 "Should have a `getCustomObjectsForAllNamespaces` method"
To match the behavior for non-custom objects.

[2020-05-03 04:42] #152 closed

[2020-05-10 02:23] palnabarun commented on #121
/remove-lifecycle rotten

[2020-05-10 02:23] palnabarun commented on #121
/lifecycle frozen

[2020-05-15 07:15] franck102 opened #159 "Missing IoK8sApimachineryPkgApisMetaV1ObjectMeta in generated classes"
After following the instructions in generate-model-from-third-party-resources.md the classes generated have references to a `io.kubernetes.client.models.IoK8sApimachineryPkgApisMetaV1ObjectMeta`
which I cannot find anywhere?

The cluster version is 1.15 (minikube) and it contains a number of CRDs from the prometheus-operator (https://github.com/coreos/prometheus-operator).

Here is a typical snipp

[2020-05-15 08:28] franck102 commented on #159
The correct class is
`io.kubernetes.client.openapi.models.V1ObjectMeta`

and everything works fine after manually updating the generated code.

[2020-05-15 12:16] yue9944882 commented on #159
this is fixed in `yue9944882/java-model-gen:v0.0.3` plz retry w/ that image

[2020-05-17 04:09] brendandburns commented on #159
I think this can be closed?

[2020-05-18 13:53] yue9944882 commented on #159
/close

as this is addressed

[2020-05-18 13:53] #159 closed

[2020-06-25 20:00] erikgb opened #165 "preprocess_spec.py: Add conditional for crd_mode or metadata without $ref key"
It seems like the api-server returns an invalid CRD List type, as commented here: https://github.com/kubernetes-client/java/issues/921#issuecomment-642178742. As a result, the API specification returned by the api-server for a CRD List type may look like this (extract):
[code]
instead of the usual:
[code]

This was compensated for in https://github.com/kubernetes-client/gen/commit/deac82ed3c868747

[2020-06-27 05:43] brendandburns commented on #165
We'd be happy to take a PR with a fix for this, or we'll get to it eventually.

[2020-06-29 03:25] yue9944882 commented on #121
UPDATE: for java the CRD models now can also be written manually by properly implementing some interfaces: https://github.com/kubernetes-client/java/pull/1020

[2020-06-29 03:26] yue9944882 commented on #165
note that there's a fix opened in the upstream days ago https://github.com/kubernetes/kubernetes/pull/92546

[2020-06-29 05:20] yue9944882 commented on #165
i'm sending a workaround to fix the script, on the other hand there's a fix proposed in the upstream https://github.com/kubernetes/kubernetes/pull/92546

[2020-06-30 06:13] #165 closed

[2020-07-11 03:14] #145 closed

[2020-09-30 06:51] #156 closed

[2020-11-30 22:47] LittleBaiBai opened #175 "Support client generation for custom resources"
Currently the `java_crd_cmd.sh` script only generates models for CRD but not the API clients. It would be great to also generate API clients for custom resources so we don't need to use `GenericKubernetesApi` or `CustomObjectsApi` in our controller code.

The generator knows how to generate API client for native kubernetes resources, so we can update `preprocess_spec.py` to keep the API endpoints

[2020-12-05 17:04] brendandburns commented on #175
Closing this issue since #176 merged.

[2020-12-05 17:04] #175 closed

[2021-01-08 15:09] abelsromero opened #179 "[Java] generics not being set"
Seems that last commit https://github.com/kubernetes-client/gen/commit/7ba97cc4c7bdac64ace24f85461776877e9b728e has made that List properties do not include the generic type.
See for instance how an unchanged property is now generated:
![image](https://user-images.githubusercontent.com/5781153/104030462-bada1f00-51cb-11eb-8b7d-4a7a356a4cea.png)

Running with the previous https://github.com/kuberne

[2021-01-26 01:30] brendandburns commented on #179
Is this a problem? Type inference in Java should do the right thing here.

[2021-02-23 14:52] abelsromero commented on #179
Not really, just wondering if this was on purpose since it got me by surprise when checking generated code changes.

[2021-02-24 19:05] karunasagark opened #181 "client-generator.sh fails when trying to generate models for kubernetes-client/java"
While working on a CRD using kubernetes-client/java, I noticed that the model generation fails. As per the [instructions in kubernetes-client/java](https://github.com/kubernetes-client/java/blob/master/docs/generate-model-from-third-party-resources.md), there is a container within a container. The [outer container](https://github.com/kubernetes-client/java/blob/master/client-java-contrib/generate.

[2021-02-26 00:10] #181 closed

[2021-03-03 15:49] brendandburns commented on #179
Thanks, closing.

[2021-03-03 15:49] #179 closed

[2021-06-17 16:03] brendandburns opened #194 "Complete support for Rust"
Tracking issue to ensure we complete the process to add a rust client.

Ref #192

[2021-07-12 23:39] jack4it opened #195 "Error generating c# codes"
Trying to follow the `python-crd-cmd.sh` and see if c# models can be generated, but failed with a mysterious error. Wish someone has experiences of this repo can shed some lights

[code]

[2021-07-13 19:11] ksumit opened #196 "crd-model-gen should enforce that enums are UPPERCASE and don't contain special characters"
While working on a CRD, i had two enum patterns that didn't work out:
1. Enums with lowercase or mixed case names
2. Enums with special characters in the names

Example:
[code]

Technically these are not valid patterns for enum names in Java (atleast the second pattern wouldn't even compile) and crd-model-gen happily does the right thing by transforming these names to UPPERCASE and replacing speci

[2021-07-14 10:27] jack4it commented on #195
Managed to move further with the above @tg123's tip of fixing autorest to version 2. But hit a hard stop as the CRD I'm trying to generate a c# model is based on openapi v3 which the k8s openapi endpoint [doesn't really support](https://github.com/kubernetes/enhancements/pull/1263) yet.

Sadly, a hard stop

[2021-07-14 10:48] tg123 commented on #195
see thread https://github.com/kubernetes-client/csharp/issues/563
too many breaking changes if move to other generator

you can find current c# generator script at https://dev.azure.com/farmer1992/opensources/_build?definitionId=16&_a=summary

[2021-07-14 21:08] brendandburns commented on #196
If we wanted to do this, we should check in a "validate_crd.py" or somesuch script that can validate the CRD definition before we try to generate code for it.

We'd be happy to have a PR for that.

[2021-07-29 08:25] yue9944882 commented on #196
@ksumit @brendandburns i suppose this issue is similar to https://github.com/kubernetes-client/java/pull/1804. will try fix the two together in a one fix.

[2021-07-30 07:10] yue9944882 commented on #196
added a new constructor by which we can pass our custom loader/dumper options, but calling the native constructor should also work anyway. https://github.com/kubernetes-client/java/pull/1808

[2021-08-03 22:59] clux opened #198 "generating proto fails with up to date protobuf"
when running `generate.sh rust kube` in `proto` folder:

[code]

using [latest protobuf](https://archlinux.org/packages/extra/x86_64/protobuf/):

[code]

[2021-08-03 23:15] clux commented on #198
ah, i seem to misunderstanding how to use this.

it invokes a `protoc -I... --rust_out=kube` which ultimately leads to

[code]

and `protoc --rust_out` does not exist as a flag (rust uses [prost](https://github.com/tokio-rs/prost)).
so this bug is invalid, it's just that the current script cannot support rust because `protoc` does not.

[2021-08-03 23:15] #198 closed

[2021-09-20 16:01] brendandburns commented on #195
Fixed by #201

[2021-09-29 16:17] fombico opened #203 "Error installing dotnet-sdk-5.0"
Hello, I am trying to run `java-crd-cmd.sh` on the repo, and I see it fails installing `dotnet-sdk-5.0`:

[code]

When I checkout the repo at `6694faf24cea3884e9c51fb316fc206a53dfcec5`, it is working.

However, when I checkout the repo at `59b81c6360ce1a453594d6e6570f7d70ff9bfb86`, I get the same error. So I think the cause is due to merging #201 - link new csharp generator

[2021-09-29 22:33] brendandburns commented on #203
I will try to replicate this.

cc @tg123

[2021-09-29 23:28] tg123 commented on #203
could please `docker system prune` and try again

[2021-09-30 01:09] fombico commented on #203
That worked, thanks for the quick response. Closing issue.

[2021-09-30 01:09] #203 closed

[2021-09-30 21:26] junm-cloudnatix opened #204 "Fail to build the docker image"
`./openapi/typescript-fetch.sh ./out config` will end up with a failure during the build of the docker image.

Here is the output.

[code]

Looks like nodejs setup is failed due to the server certificate verification failure.  I guess some changes happened recently, but the base image `maven:3.5-jdk-8-slim` is too old to catch up with the changes.

[2021-09-30 22:37] junm-cloudnatix commented on #204
#205 fixes this.

[2021-09-30 22:37] #204 closed

[2021-10-25 07:27] itaru2622 opened #207 "failed generating with latest openapi-generator ver 5.x"
when I tried gen with latest openapi-generator v5.3.0, the following error raised in gen.

The reason is very simple.
gen/openapi/{{language}}.xml is still using older 'language' perspective and no replaced 'generatorName' perspective.

the below patch passed the openapi-generator process in case of python client.
I think all other language clients have the same issue.

[code]

### error message:

[2021-11-05 19:21] brendandburns commented on #207
Closing since #208 merged.

[2021-11-05 19:21] #207 closed

[2021-11-14 17:39] #194 closed

[2021-11-15 20:04] gregth opened #212 "Resources starting with "io.k8s" being considered builtin prevents Volume Snapshot models generation"
I tried to generate models for Volume Snapshots, as follows:
[code]
This produced no models.

I inspected the code and it turns out that resources starting with "io.k8s" are considered built:

https://github.com/kubernetes-client/gen/blob/291f9a6ca5004cc91cfc4a744abf129c639d5682/openapi/preprocess_spec.py#L307-L316

This does not hold for (at least) Volume Snapshot resources which are well-known C

[2021-11-15 20:06] gregth commented on #212
Let's discuss if anyone else has bumped onto this before, possible solutions, and I proceed with a PR to fix this, if you'd like to.

[2021-11-16 22:19] brendandburns commented on #212
I don't think anyone else has hit this. Feel free to add a flag to optionally disable that check

[2021-12-27 09:17] #196 closed

[2021-12-27 15:30] adamkovalsky opened #217 "IntOrString type is not defined in typescript-fetch generated code"
It looks like `typescript-fetch.xml` maps the `IntToString` type to be imported from `../../types`, I'm not sure what this refers to, but the resulting code has unresolved imports (and the import mapping seems to be ignored as far as I can tell).

[2022-01-02 20:14] brendandburns commented on #217
fwiw, typescript-fetch is not widely used.

You need a custom definition for the IntToString class, you could use the one here:

https://github.com/kubernetes-client/javascript/blob/d44fa64da440559b55f0b70f30271b9d3097f3d2/src/types.ts#L16

[2022-01-02 20:14] #217 closed

[2022-01-03 07:36] adamkovalsky commented on #217
@brendandburns I've tried this, but even if I put this definition in a `types.ts` file in (what I assume is) the right path, I couldn't get the generator to pick it up and use it correctly. Any idea what I could be missing?

[2022-02-18 15:39] aespinosa commented on #121
The work on the java client has been pretty active. I'm not sure about other languages though.  I guess a status at the main github issue status for other languages would be handy.

[2022-02-21 09:54] stefanbethke opened #220 "Generated Java code is referencing IoK8sApimachineryPkgApisMetaV1DeleteOptionsV2 which is missing"
I'm trying to generate CRD models for my CRD, like so:
[code]
The resulting class `com.tsystemsmms.cmcc.cmccoperator.client.apis.CmccoperatorCmccTsystemsmmsComV1alpha1Api` has two references that cannot be resolved:
[code]

How to I get the generator to generate these classes?

I found exactly one reference to these classes, in this issue: https://github.com/kubernetes-client/java/issues/1710 but

[2022-02-21 09:55] stefanbethke commented on #220
This is the CRD:
[code]

[2022-03-08 09:09] gregth commented on #212
Instead of adding an extra argument, we can fix this by modifying this if-else statement:
https://github.com/kubernetes-client/gen/blob/34ea9c4d4e0c6aeb1c41858b2b230adac3bacfe3/openapi/preprocess_spec.py#L311-L320

so that it does not ignore `io.k8s` if the user has explicitly specified a `KUBERNETES_CRD_GROUP_PREFIX` that contains `k8s.io`:

[code]

@brendandburns what do you think? If we agree I

[2022-03-11 16:56] gregth commented on #212
/remove-lifecycle stale

[2022-03-31 06:31] gregth commented on #212
This issue was resolved by PR https://github.com/kubernetes-client/gen/pull/223.

[2022-03-31 06:31] #212 closed

[2022-07-21 11:55] #220 closed

[2022-08-06 16:18] SayakMukhopadhyay opened #226 "Delete `client-gen-with-openapi-generator` container after it has run."
Running `ghcr.io/kubernetes-client/java/crd-model-gen:v1.0.6 /generate.sh` to create model classes from CRD yaml utilises this project. Of the several shell scripts that gets triggered, one of them is `openapi/openapi-generator/client-generator.sh`. This shell script builds and runs a container from `openapi/openapi-generator/Dockerfile` during runtime of the script. The problem is after the creat

[2022-08-16 04:38] SayakMukhopadhyay commented on #226
Apologies for the ping @brendandburns but I believed that this issue might have been missed.

[2022-08-23 21:28] brendandburns commented on #226
Thanks for reporting this, a PR would be welcome to clean up these images.

[2022-08-24 14:54] #226 closed

[2022-10-18 17:27] JacobHenner opened #231 "Support get_api_resources() (GET /apis/{group}/{version}) in the custom objects API"
The built-in APIs include `get_api_resources()`, but the Custom Objects API provides no equivalent. The autogenerated API libraries should expose a method to GET `/apis/{group}/{version}` for arbitrary combinations of `group` and `version` to ensure parity with the built-in APIs.

PR incoming.

[2022-10-20 18:21] #231 closed